*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;

}

#background{
    background-image: url(../img/IMG_9851.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

#background h1{
    font-size: 50px;
    opacity: 1;
}

#background h3{
    font-size: 20px;
}

#social{
    display: flex;
    height: 20vh;
    background-image: url(../img/Soundcloud\ Banner.jpg);
    justify-content: space-evenly;
}

#facebook img{
height: 10vh;
}

#instagram img{
height: 10vh;

}

#youtube img{
height: 10vh;

}